#!/bin/sh
# Reruns whenever the Brewfile changes:
# Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}
set -e

brew bundle --global --no-upgrade
command -v skills >/dev/null || npm install -g skills
